a {
  text-decoration: none;
  color: inherit;
}

i {
  font-size: 1.5rem;
  color: crimson;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  height: 100vh;
}

.home__trainer {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.home-trainer__container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Roboto", sans-serif;
  row-gap: 2rem;
}

.home-trainer__img {
  height: 250px;
}

.home-trainer__description--container {
  align-self: flex-start;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}

.home-trainer__menu--container {
  align-self: flex-end;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  row-gap: 1rem;
  width: 100%;
  justify-content: space-evenly;
  padding: 0 1rem;
}

.home-trainer__menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  margin: 0 0.5rem;
}

.home-trainer__menu li {
  padding: 10px;
  background-color: #3a7ff3;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.5s;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.5rem;
}

.home-trainer__menu li:hover {
  transform: scale(1.1);
}

.home-trainer__description {
  margin: 0;
}

.tv__pokemon--img {
  width: 2rem;
  height: auto;
}
.pokedex--img {
  width: 3rem;
  height: auto;
}
.fav--img {
  width: 2rem;
  height: auto;
}

.home-trainer__description {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 2px solid transparent; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 5s steps(40, end), blink-caret 1s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  50% {
    border-color: #e26080;
  }
}

@media (max-width: 690px) {
  .home__trainer {
    height: fit-content;
  }

  .home-trainer__menu--container {
    flex-direction: column;
  }

  .home-trainer__description--container {
    flex-direction: column;
    row-gap: 1rem;
  }

  .home-trainer__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
  }

  .home-trainer__menu li {
    width: 50%;
    min-width: 200px;
    justify-content: center;
  }
}

@media (max-width: 540px) {
  .home-trainer__description {
    font-size: 10px;
  }
}

@media (max-width: 330px) {
  .home-trainer__description {
    font-size: 8px;
  }
}
