.pokemon-liked {
  position: relative;
}

.pokemon-liked__container {
  padding-bottom: 116px;
}

.pokemon-liked__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 1.5rem;
  column-gap: 0.5rem;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 82px;
}

.page__error {
  height: calc(100vh - 232px);
}

.link__pokedex {
  color: #3a7ff3;
  text-decoration: underline;
  cursor: pointer;
  transition: 0.5s;
}

.link__pokedex:hover {
  color: #e26080;
}

@media (max-width: 950px) {
  .pokemon-liked__container {
    padding-bottom: 216px;
  }
}
